<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!--在线用户数据库连接-->
    <add key="OnlineUserConnectionString" value="server=.;database=SYGLDB_LIB;uid=sa;pwd=123"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" maxBufferPoolSize="52428800" maxBufferSize="6553600" maxReceivedMessageSize="6553600" portSharingEnabled="true">
          <readerQuotas maxStringContentLength="6553600"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Kingrocket.NotifyService.MessageService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="Kingrocket.NotifyContract.IMessageService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9999/KingrocketMessageService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <log4net>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/error.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="10240KB"/>
      <staticLogFileName value="true"/>
      <Encoding value="UTF-8"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="loggerAX">
      <level value="Error" />
      <appender-ref ref="ErrorFileAppender"></appender-ref>
    </logger>
  </log4net>
</configuration>