<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外， 
    还可以使用 Web 管理工具来配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="DataAdapterType" value="SQLClient"/>
		<add key="DataBaseType" value="MSSQLServer2k5"/>
    <add key="DataSource" value="0FTmF1ZCFJ2pT6qoxUvImg==" />
    <add key="DataInstance" value="qIUQUgiei59LDOWP2iIU4g==" />
    <add key="DataUserName" value="VOB3YV8mXClwBEYdJQRYwBTBZL+ZpHnP72EgaGVVkgk=" />
    <add key="DataPassword" value="oXszgxjinKvDTln4YPIODQ==" />
		<add key="DataISAttach" value="False"/>
		<add key="AssemblyPath" value="\bin"/>
		<!--不合格报警内部人员号码配置-->
		<add key="SMSCells" value="18610025162,15339041989,18189279823,18189279813"/>
		<!--龄期短信提醒内部人员号码配置-->
		<add key="StadiumSMSCells" value="18610025162,15339041989,18189279823,18189279813"/>
		<!--短信发送开关1:开;0:关-->
		<add key="SMSStart" value="0"/>
		<!--Android访问接口的授权用户名和密钥-->
		<add key="AndroidUser" value="AndroidUser,zTyEXJHPzOy9iLq4eBLrcsXjBd5TX1r3tXKsRZDuRr4="/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!--
            设置 compilation debug="true" ，将调试符号 
            插入已编译的页面中。但由于这会影响性能， 
            因此请只在开发过程中 
            将此值设置为 true。
        -->
		<compilation debug="true">
		</compilation>
		<!--
            通过 <authentication> 节可以配置
            ASP.NET 使用的安全身份验证 
            模式，以标识传入的用户。 
        -->
		<authentication mode="None"/>
		<httpRuntime maxRequestLength="10240"/>
		<!--
            通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
            应执行的操作。 
            具体说来，开发人员通过该节 
            可以配置要显示的 html 错误页 
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>-->
	</system.web>
	<system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0">
    </serviceHostingEnvironment>
		<extensions>
			<behaviorExtensions>
				<add name="ExtendedServiceBehavior" type="WcfExtensions.ServiceBehaviorExtension, WcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="customMessageEncoding" type="WcfExtensions.MessageEncodingBindingElementExtension, WcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</bindingElementExtensions>
		</extensions>
		<bindings>
			<customBinding>
				<binding name="ZipBinding" closeTimeout="00:11:00" openTimeout="00:01:00" receiveTimeout="00:11:00" sendTimeout="00:11:00" maxConnections="10">
					<customMessageEncoding innerMessageEncoding="binaryMessageEncoding" messageEncoderType="WcfExtensions.GZipMessageEncoder, WcfExtensions">
						<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384">
						</readerQuotas>
					</customMessageEncoding>
					<tcpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" connectionBufferSize="256192" maxBufferSize="2147483647" transferMode="Streamed">
						<connectionPoolSettings groupName="group1" leaseTimeout="00:25:00" idleTimeout="00:22:00" maxOutboundConnectionsPerEndpoint="10"/>
					</tcpTransport>
				</binding>
			</customBinding>
			<netTcpBinding>
				<binding name="netTcpBindConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647 " maxBufferSize="2147483647 " maxConnections="10" maxReceivedMessageSize="2147483647 ">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647 " maxArrayLength="2147483647 " maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
					</security>
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IMyService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="TransferServiceBehavior" name="WebTransferService.TransferService">
				<endpoint address="net.tcp://localhost:8002/TransferService.svc" binding="customBinding" bindingConfiguration="ZipBinding" contract="TransferServiceCommon.ITransferService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TransferServiceBehavior">
					<!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点-->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="999999" maxConcurrentSessions="999999"/>
					<dataContractSerializer maxItemsInObjectGraph="999999"/>
					<ExtendedServiceBehavior/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="TransferServiceEndpointBehavior">
					<ExtendedServiceBehavior/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<diagnostics performanceCounters="All"/>
		<client>
			<endpoint address="http://118.186.197.226:7200/MyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyService" contract="SMSCommon.IMyService" name="IMyService"/>
			<endpoint address="net.tcp://TanPC:8002/TransferService.svc" binding="customBinding" behaviorConfiguration="TransferServiceEndpointBehavior" bindingConfiguration="ZipBinding" contract="TransferServiceCommon.ITransferService" name="sClient"/>
		</client>
	</system.serviceModel>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
				<arg key="configType" value="INLINE"/>
			</factoryAdapter>
		</logging>
	</common>
	<log4net>
		<appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log/"/>
			<appendToFile value="true"/>
			<param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
			<rollingStyle value="Date"/>
			<maxSizeRollBackups value="100"/>
			<maximumFileSize value="1024KB"/>
			<staticLogFileName value="false"/>
			<Encoding value="UTF-8"/>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO"/>
				<param name="LevelMax" value="INFO"/>
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger  - %message%newline"/>
			</layout>
		</appender>
		<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log/error.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="100"/>
			<maximumFileSize value="10240KB"/>
			<staticLogFileName value="true"/>
			<Encoding value="UTF-8"/>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN"/>
				<param name="LevelMax" value="FATAL"/>
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="InfoFileAppender"/>
			<appender-ref ref="ErrorFileAppender"/>
		</root>
	</log4net>
</configuration>
