<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--配置本机IP-->
    <add key="LocalServerIP" value="218.244.139.25"/>
    <!--配置本机上传间隔时间,单位:秒-->
    <add key="UploadIntervalTime" value="600"/>
    <!--配置数据上传时间24小时制，以小时时间段的形式表示，如：0,6|23,24,表示在凌晨0点到早上6点，晚上11点到12点-->
    <add key="UploadTimeSpan" value=""/>
    <!--  <add key="UploadTimeSpan" value="0,24|23,24"/>-->
    <!--厂商名称-->
    <add key="F_SOFTCOM" value="北京金舟神创科技发展有限公司"/>
    <!--工管中心上传开关1:开;0:关-->
    <add key="GGCStartUpload" value="0" />
    <!--工管中心数据上传时间24小时制，以小时时间段的形式表示，如：0,6|23,24,表示在凌晨0点到早上6点，晚上11点到12点-->
    <add key="GGCUploadTimeSpan" value="0,24|23,24"/>
    <!--采集数据处理开关1:开;0:关-->
    <add key="CaiJiStartUpload" value="0" />
    <!--统计数据开关1：开；0：关-->
    <add key="StatisticsSynchronous" value="1"/>
    <!--配置统计数据时间24小时制，以小时时间段的形式表示，如：0,6|23,24,表示在凌晨0点到早上6点，晚上11点到12点-->
    <add key="StatisticsTimeSpan" value="0,06|17,24"/>
  </appSettings>

  <log4net>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/"/>
      <appendToFile value="true"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="1024KB"/>
      <staticLogFileName value="false"/>
      <Encoding value="UTF-8"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/error.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="10240KB"/>
      <staticLogFileName value="true"/>
      <Encoding value="UTF-8"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="InfoFileAppender"/>
      <appender-ref ref="ErrorFileAppender"/>
    </root>
  </log4net>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ExtendedServiceBehavior" type="WcfExtensions.ServiceBehaviorExtension, WcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="customMessageEncoding" type="WcfExtensions.MessageEncodingBindingElementExtension, WcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataTransport" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDataTransport1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ZipBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <customMessageEncoding innerMessageEncoding="binaryMessageEncoding"
            messageEncoderType="WcfExtensions.GZipMessageEncoder, WcfExtensions">
            <readerQuotas maxDepth="999999999" maxStringContentLength="999999999"
              maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999" />
          </customMessageEncoding>
          <tcpTransport maxBufferPoolSize="999999999" maxReceivedMessageSize="999999999"
            connectionBufferSize="256192" maxBufferSize="999999999" transferMode="Streamed">
            <connectionPoolSettings groupName="group1" leaseTimeout="00:05:00"
              idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
            <extendedProtectionPolicy policyEnforcement="Never" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TransferServiceEndpointBehavior">
          <ExtendedServiceBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://TanPC:8002/TransferService.svc"
        behaviorConfiguration="TransferServiceEndpointBehavior" binding="customBinding"
        bindingConfiguration="ZipBinding" contract="TransferServiceCommon.ITransferService"
        name="sClient" />
      <endpoint address="http://000.000.000.000/DotNetFrame/ModuleSources/SYS/DataTransport/DataTransport.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataTransport"
        contract="LABTRANSINTERFACE.IDataTransport" name="uploadEP" />
      <endpoint address="http://125.35.11.31/LABTRANSINTERFACE/DataTransport.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataTransport1"
        contract="WLMQXinKeZhanSR.IDataTransport" name="BasicHttpBinding_IDataTransport" />
    </client>
  </system.serviceModel>
</configuration>