<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatisticsSummary.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StatisticsSummary.App>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="Lines" serializeAs="String">
                <value>net.tcp://lib.kingrocket.com:8066/TransferService.svc
net.tcp://lib.kingrocket.com:8066/TransferService.svc</value>
            </setting>
            <setting name="Offset" serializeAs="String">
                <value>2013/01/01
2013/01/01
</value>
            </setting>
        </StatisticsSummary.App>
    </userSettings>
</configuration>